[submodule "private"]
	path = private
	url = git@github.com:amb3r-dev/dotfiles-private.git
[submodule "wayland/git/util/sway-launcher-desktop"]
	path = wayland/git/util/sway-launcher-desktop
	url = git@github.com:Biont/sway-launcher-desktop.git
[submodule "main/git/util/rsync-time-backup"]
	path = main/git/util/rsync-time-backup
	url = git@github.com:laurent22/rsync-time-backup.git
[submodule "main/.config/nvim"]
	path = main/.config/nvim
	url = ssh://git@ssh.github.com:443/ac-z/astronvim-config
